/*----------------------------------RESET----------------------------------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 16px;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: Inter;
    font-weight: 400;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*----------------------------------WRAPPER----------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1400px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
} 
.main {
    flex: 1 1 auto;
}
/*----------------------------------HEADER----------------------------------*/
.header { 
    background: #0C0C0E;
    padding: 20px 0px;
}
.header_container { 
    display: flex;
}
.logo__title { 
    color: #FFFFFF;
    font-family: Forum;
    font-size: 30px;
    line-height: 167%;
    letter-spacing: 0.6px;
    margin-right: 454px;
}
.menu { 
    margin-right: 40px;
}
.menu__list { 
    display: flex;
}
.menu__item { 
    
}
.menu__item:not(:last-child) {
    margin-right: 30px;
}
.menu__link { 
    color: #FFFFFF;
    font-size: 20px;
    line-height: 250%;
}
.header__user {
    background: transparent;
}
/*----------------------------------WELCOME----------------------------------*/
.welcome { 
    background: url(./assets/images/welcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}
.welcome__container { 

}
.welcome__title { 
    color: #FFFFFF;
    font-family: Forum;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #0C0C0E;
    padding: 35px 40px;
    max-width: 600px;
    text-align: center;
}