/*----------------------------------RESET----------------------------------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 16px;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: Inter;
    font-weight: 400;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*----------------------------------WRAPPER----------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1400px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
} 
.main {
    flex: 1 1 auto;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
}
/*----------------------------------HEADER----------------------------------*/
.header { 
    background: #0C0C0E;
    padding: 20px 0px;
}
.header_container { 
    display: flex;
}
.logo__title { 
    color: #FFFFFF;
    font-family: Forum;
    font-size: 30px;
    line-height: 167%;
    letter-spacing: 0.6px;
    margin-right: 454px;
}
.navigation { 
    margin-right: 40px;
}
.navigation__list { 
    display: flex;
}
.navigation__item { 
    
}
.navigation__item:not(:last-child) {
    margin-right: 30px;
}
.navigation__link { 
    color: #FFFFFF;
    font-size: 20px;
    line-height: 250%;
    position: relative;
    transition: all 500ms ease;
}
.navigation__link::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 3px;
    background: #BB945F;
	transition: all 500ms ease;
}
.navigation__link:hover {
    color:#8E8E8E;
}
.navigation__link:hover::before {
    width: 100%;
}
.header__user {
    background: transparent;
}
/*----------------------------------WELCOME----------------------------------*/
.welcome { 
    position: relative;
}
.welcome__container { 

}
.welcome__body {
    padding: 220px 0px 160px 0px;
    position: relative;
    z-index: 2;
    
}
.welcome__title { 
    color: #FFFFFF;
    font-family: Forum;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #0C0C0E;
    padding: 35px 40px;
    text-align: center;
    margin-left: -20px;
    max-width: 600px;
    display: inline-block;
}
.welcome__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*----------------------------------ABOUT----------------------------------*/
.about { 
    padding: 20px 0px 40px;
}
.about__container { 

}
.about__title {
    margin-bottom: 61px;
}
.page__title { 
    color: #0C0C0E;
    font-size: 40px;
    font-family: Forum;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
}
.page__title::after {
    content: "";
    background-color: #0C0C0E;
    width: 50px;
    height: 1px;
    display: block;
    position: absolute;
    top: 60px;
    left: 675px;
}
.about__subtitle {
    margin-bottom: 20px;
}
.page__subtitle { 
    color: #000000;
    font-size: 20px;
    line-height: 200%;
    text-align: center;
}
.about__slider { 
    display: flex;
    gap: 0px 25px;
}
/*----------------------------------FAVORITES----------------------------------*/
.favorites { 
    padding: 20px 0px 40px;
}
.favorites__container { }
.favorites__title { 
    margin-bottom: 61px;
}
.favorites__pick { 
    margin-bottom: 40px;
}
.pick__label { 
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}
.pick__options { 
    display: flex;
}
.pick__options > *:not(:last-child) {
    margin-right: 90px;
}
.options__item { }
.options__input { }
.options__label { 
    color: #000000;
    font-size: 20px;
}
.favorites__cards { 
    display: flex;
    flex-wrap: wrap;
    gap: 40px 260px;
}
.card__item { 
    border: 1px solid #000;
    padding: 15px 20px;
    position: relative;
    flex: 0 1 39%;
}
.card__title { 
    color: #000000;
    font-size: 20px;
    font-family: Forum;
    line-height: 200%;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.card__title::after {
    content: "";
    background-color: #BB945F;
    width: 60px;
    height: 1px;
    display: block;
}
.card__subtitle { 
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    line-height: 267%;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.card__description { 
    color: #000000;
    font-size: 15px;
    line-height: 267%;
    letter-spacing: 2px;
    max-width: 355px;
    margin-bottom: 15px;
    text-transform: capitalize;
    min-height: 320px;
}
.card__button { 
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background: transparent;
    padding: 8px 26px;
    display: inline-block;
    color: #0C0C0E;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    transition: all 500ms ease;
    z-index: 1;
}
button[disabled] {
    color: #BB945F;
    border: 1px solid #BB945F;
}
button[disabled] {
    cursor: default;
}
button[disabled]:hover:before {
    width: 0;
    
}
.card__button:hover {
    border: 1px solid #BB945F;
}
.card__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #BB945F;
	transition: all 500ms ease;
    z-index: -1;
}
.card__button:hover:before {
	width: 100%;
}
.card__image { 
    position: absolute;
    bottom: -1px;
    right: -40px;
}
/*----------------------------------COFFEE----------------------------------*/
.coffee { 
    padding: 20px 0px 40px;
}
.coffee__container { }
.coffee__title { 
    margin-bottom: 61px;
}
.coffee__subtitle { 
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.coffee__menu { 
    display: flex;
    justify-content: space-between;
}
.menu__list { 
    flex: 0 1 31.8%;
}
.menu__list >*:not(:last-child) {
    margin-bottom: 40px;
}
.menu__list_aligned {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 0 1 35%;
}
.menu__title { 
    color: #BB945F;
    text-align: left;
}
.menu__title::after { 
    display: none;
}
.menu__item { 
    display: flex;
    align-items: center;
    
}
.menu__item > *:not(:last-child) {
    margin-right: 59.2px;
}
.menu__label { 
    color: #000000;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 2px;
    flex: 0 1 46%;
}
.menu__line { 
    background-color: #BB945F;
    width: 100px;
    height: 1px;
}
.menu__price { 
    color: #000000;
    font-size: 20px;
    font-family: Forum;
    line-height: 200%;
    letter-spacing: 2px;
}
/*----------------------------------CONTACTS----------------------------------*/
.contacts { 
    padding: 20px 0px 40px;
}
.contacts__container { }
.contacts__title { 
    margin-bottom: 61px;
}
.contacts__body { 
    display: flex;
    justify-content: space-between;
}
.contacts__info { 
    flex: 0 1 36%;
    margin-right: 150px;
}

.info__label { 
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 2px;
}
.info__label:nth-child(1) {
    margin-bottom: 40px;
}
.info__label:nth-child(5) {
    margin: 40px 0px 20px;
}
.info__text { 
    color: #000000;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 2px;
}
.info__text:not(:last-child) {
    margin-bottom: 20px;
}
.info__text:last-child a {
    font-weight: 700;
    color: #000000;
}
.info__link { 
    color: #000000;
}
.contacts__image { 
    flex: 0 1 50%;
}
.contacts__image img {
    max-width: 100%;
}
/*----------------------------------LIBRARY-CARD----------------------------------*/
.library-card { 
    padding: 20px 0px 40px;
}
.library-card__container { }
.library-card__title { 
    margin-bottom: 61px;
}
.library-card__body { 
    display: flex;
    justify-content: space-between;
}
.form { 
    flex: 0 1 43%;
    margin-right: 200px;
}
.form__title { 
    color: #000000;
    font-size: 30px;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 30px;
}
.form__body { 
    border: 3px solid #BB945F;
    padding: 20px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__bg {
    background-color: #BB945F;
    padding: 20px 20px 25px;
    width: 100%;
    margin-bottom: 20px;
}
.form__label { 
    color: #000000;
    font-size: 30px;
    font-family: Forum;
    line-height: 167%;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}
.form__item { }
.form__item:not(:last-child) {
    margin-bottom: 25px;
}
.form__input {
    padding: 8px 20px;
    display: block;
    width: 100%;
    color: #BB945F;
    font-family: Forum;
    font-size: 30px;
    line-height: 167%;
    letter-spacing: 0.6px;
    border-radius: 10px;
}
.form__input::placeholder { 
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    line-height: 167%;
    letter-spacing: 0.6px;
}
.form__button { 
    color: #0C0C0E;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    background: transparent;
    padding: 9px 39px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    position: relative;
    z-index: 1;
    transition: all 500ms ease;
}
.form__button:hover {
    border: 1px solid #BB945F;
}
.form__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background-color: #BB945F;
    transition: all 500ms ease;
}
.form__button:hover::before {
    width: 100%;
}
.library-card__login { 
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 0 1 33%;
}
.library-card__login > *:not(:last-child) {
    margin-bottom: 35px;
}
.login__title { 
    color: #000000;
    font-family: Forum;
    font-size: 30px;
    letter-spacing: 0.6px;
}
.login__text { 
    color: #000000;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 0.4px;
    text-align: right;
}
.login__buttons { }
.login__button { 
    color: #0C0C0E;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 9px 0px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background: transparent;
    min-width: 75px;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 500ms ease;
}
.login__button:hover {
    border: 1px solid #BB945F;
}
.login__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #BB945F;
    transition: all 500ms ease;
    z-index: -1;
}
.login__button:hover::before {
    width: 100%;
}
.login__button:not(:last-child) {
    margin-right: 20px;
}
/*----------------------------------FOOTER----------------------------------*/
.footer { 
    background: #0C0C0E;
    padding: 20px 0px 44px;
}
.footer__container { }
.footer__body { 
    color: #FFFFFF;
    font-size: 15px;
    line-height: 133%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer__links { 
    flex: 0 1 16%;
    margin-right: 200px;
}
.location__link {
    margin-bottom: 18px;
}
.location__link a { 
    color: #FFFFFF;
}
.socials__list { 
    display: flex;
    gap: 0px 15px;
}
.socials__item { 

}
.socials__link { 
    
}
.footer__schedule { 
    flex: 0 1 11%;
    text-align: right;
}
.schedule__text:not(:last-child) { 
    margin-bottom: 10px;
}
.footer__line {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    margin-bottom: 44px;
}
.footer__aside { 
    display: flex;
    justify-content: space-between;
}
.aside__text { 
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 2px;
    flex: 0 1 22%;
}
.aside__text:last-child {
    text-align: right;
}
.aside__link { 
    color: #FFFFFF;
}